<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL映射文件 -->
<mapper namespace="com.atguigu.grain.user.mapper.UserMapper">
    <!-- 查询语句只有一个参数时候 设置parameterType为对应的基本数据类型-->
    <select id="getallUser" resultType="UserBean">
        select * from ums_member
    </select>
</mapper>
